.hero-logo {
  &:hover { 
    animation-name: logo;
    animation-duration: 0.8s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
.description__read_more {
  &:hover {
    transition: transform 0.5s linear;
    transform-origin: top left;
    transform-style: preserve-3D;
    transform: rotate(10deg);
  }
}
.learn-more__play {
  &:hover { 
    animation-name: play_button;
    animation-duration: 0.5s;
    /* animation-direction: alternate; */
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
}
@keyframes logo {
  0% {
    transform: rotateY(0deg) scale(1);
  }
  100% {
    transform: rotateY(180deg) scale(1.5);
  }
}
@keyframes play_button {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
    background-color: #ffffff;
    color: #92b6ec;
  }
}
