.hero-logo:hover {
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.description__read_more:hover {
  transition: transform 0.5s linear;
  transform-origin: top left;
  transform-style: preserve-3D;
  transform: rotate(10deg);
}

.learn-more__play:hover {
  -webkit-animation-name: play_button;
          animation-name: play_button;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  /* animation-direction: alternate; */
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes logo {
  0% {
    transform: rotateY(0deg) scale(1);
  }
  100% {
    transform: rotateY(180deg) scale(1.5);
  }
}

@keyframes logo {
  0% {
    transform: rotateY(0deg) scale(1);
  }
  100% {
    transform: rotateY(180deg) scale(1.5);
  }
}
@-webkit-keyframes play_button {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
    background-color: #ffffff;
    color: #92b6ec;
  }
}
@keyframes play_button {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
    background-color: #ffffff;
    color: #92b6ec;
  }
}/*# sourceMappingURL=animation.css.map */