@import "./animation.scss";

$headline-font-size: 24px;
$sub-headline-font-size: 16px;

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
  "header"
  "main"
  "footer";

  .header {
    display: grid;
    grid-area: header;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 20px 20px;
    grid-template-areas: "a b";
    position: relative;
    top: 60px;
    margin-bottom: -60px;

    .project {
      text-transform: uppercase;
      text-align: center;
      font-size: 16px;
      grid-area: a;
      justify-self: start;
      padding-left: 20px;

      .project__link {
        text-decoration: none;
        color: aliceblue;
        font-size: 16px;
      }
    }

    .main-menu {
      display: none;

      .main-menu__list {
        margin: 0; /* Отступ слева в браузере IE и Opera */
        padding: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .main-menu__item {
          list-style-type: none; /* Убираем маркеры */
          text-transform: uppercase;
          text-align: center;

          .main-menu__link {
            text-decoration: none;
            color: aliceblue;
            font-size: small;
          }
        }
      }
    }
  
    .bar { 
      grid-area: b;
      justify-self: center;
    }


  }

  .main {
    display: grid;
    grid-template-columns: 100%;
    grid-area: main;

    .hero {
      display: grid;
      grid-template-columns: 20% 60% 20%;
      grid-template-rows: 200px 200px 100px 200px;
      grid-template-areas:
          "a b c"
          "d e f"
          "g h i"
          "j k l";
      background-image: url(../assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
      background-repeat: no-repeat;
      background-size: cover;
  
      .hero-logo {
        display: grid;
        grid-area: e;
        place-items: center;
      }
  
      .hero__headline {
        display: grid;
        grid-area: h;
        justify-content: center;
        font-family: 'Oswald';
        font-size: $headline-font-size;
        text-align: center;
        color: aliceblue;
        text-transform: uppercase;
        text-align: center;

      }

      .hero__lorem {
        display: grid;
        grid-area: k;
        justify-content: center;
        font-size: 12px;
        font-family: 'Source Sans Pro';
        color: aliceblue;
        text-align: center;

      }
  
    }

    .description {
      display: grid;
      grid-template-columns: 100%;
      background-color: #f2f2f2;
      justify-items: center;
      
      .description__headline {
        font-family: 'Oswald';
        font-size: $headline-font-size;
        text-align: center;
      }
  
      .description__sub-headline {
        font-family: 'Oswald';
        font-size: $sub-headline-font-size;
      }
      .description-main-text {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
  
        .description-main-text__column {
          width: 500px;
          padding: 20px;
          margin: 20px;
  
        }
      }
      .description__read_more {
        display: block;
        width: 120px;
        height: 40px;
        background-color: #87b0ee; /* Green */
        border: none;
        color: white;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        border-radius: 30px;
        margin-bottom: 20px;
      }
    }

    .learn-more {
      display: grid;
      grid-template-columns: 20% 60% 20%;
      grid-template-rows: 200px 20px 200px;
      grid-template-areas:
          "a b c"
          "d e f"
          "g h i";
      justify-items: center;
      background-image: url(../assets/IMG_1334_72dpi_RGB_\ 1.png);
      background-repeat: no-repeat;
      background-size: cover;

      .learn-more__headline {
        grid-area: b;
        justify-items: center;
        font-size: $headline-font-size;
        font-family: Oswald;
        color: aliceblue;
      }

      .learn-more__play {
        grid-area: e;
        display: block;
        width: 60px;
        height: 60px;
        background-color: #92b6ec; /* Green */
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        border-radius: 30px;
        text-align: center;
      }

      .learn-more__sub-headline {
        grid-area: h;
        justify-items: center;
        color: aliceblue;
        font-size: $sub-headline-font-size;
        padding: 30px;
      }
    }
  }

  .footer {
    padding: 10px;
    display: grid;
    grid-area: footer;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
    background: #464547;
    color: aliceblue;
  }


}

/* MEDIA 768 px */
@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "header"
    "main"
    "footer";

    .header {
      display: grid;
      grid-area: header;
      grid-template-columns: 200px 800px 200px;
      grid-template-rows: 40px 40px;
      grid-template-areas:
          "a b c"
          "d e f";
      position: relative;
      top: 60px;
      margin-bottom: -80px;

      .project {
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        grid-area: d;

        .project_link {
          text-decoration: none;
          color: aliceblue;
          font-size: 16px;
        }
      }

      .main-menu {
        grid-area: e;
        display: block;
        
        .main-menu__list {
          margin: 0; /* Отступ слева в браузере IE и Opera */
          padding: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;

          .main-menu__item {
            list-style-type: none; /* Убираем маркеры */
            text-transform: uppercase;
            text-align: center;
            
            .main-menu__link {
              text-decoration: none;
              color: aliceblue;
              font-size: small;
            }
          }
        }
      }
  
      .bar { 
        display: none;
      }
    }

    .main {
      display: grid;
      grid-template-columns: 100%;
      grid-area: main;
  
      .hero {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 200px 200px 100px 200px;
        grid-template-areas:
            "a b c"
            "d e f"
            "g h i"
            "j k l";
        background-image: url(../assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
        background-repeat: no-repeat;
        background-size: cover;
    
        .hero-logo {
          display: grid;
          grid-area: e;
          place-items: center;
        }
    
        .hero__headline {
          display: grid;
          grid-area: h;
          justify-content: center;
          font-family: 'Oswald';
          font-size: $headline-font-size;
          text-align: center;
          color: aliceblue;
          text-transform: uppercase;
  
        }
  
        .hero__lorem {
          display: grid;
          grid-area: k;
          justify-content: center;
          font-size: 24px;
          font-family: 'Source Sans Pro';
          color: aliceblue;
          text-align: center;
  
        }
    
      }

      .description {
        display: grid;
        grid-template-columns: 100%;
        background-color: #f2f2f2;
        justify-items: center;
        
        .description__headline {
          font-family: 'Oswald';
          font-size: $headline-font-size;
          text-align: center;
        }
    
        .description__sub-headline {
          font-family: 'Oswald';
          font-size: $sub-headline-font-size;
        }
        .description-main-text {
          display: flex;
          flex-wrap: wrap;
          font-size: 12px;
    
          .description-main-text__column {
            width: 500px;
            padding: 20px;
            margin: 20px;
    
          }
        }
        .description__read_more {
          display: block;
          width: 120px;
          height: 40px;
          background-color: #87b0ee; /* Green */
          border: none;
          color: white;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 14px;
          cursor: pointer;
          border-radius: 30px;
          margin-bottom: 20px;
        }
      }

      .learn-more {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 200px 20px 200px;
        grid-template-areas:
            "a b c"
            "d e f"
            "g h i";
        justify-items: center;
        background-image: url(../assets/IMG_1334_72dpi_RGB_\ 1.png);
        background-repeat: no-repeat;
        background-size: cover;
  
        .learn-more__headline {
          grid-area: b;
          justify-items: center;
          font-size: $headline-font-size;
          font-family: Oswald;
          color: aliceblue;
        }
  
        .learn-more__play {
          grid-area: e;
          display: block;
          width: 60px;
          height: 60px;
          background-color: #92b6ec; /* Green */
          border: none;
          color: white;
          text-align: center;
          text-decoration: none;
          font-size: 16px;
          cursor: pointer;
          border-radius: 30px;
          text-align: center;
        }
  
        .learn-more__sub-headline {
          grid-area: h;
          justify-items: center;
          color: aliceblue;
          font-size: $sub-headline-font-size;
        }
      }
    }

    .footer {
      display: grid;
      grid-area: footer;
      grid-template-columns: 10% 10% 20% 20% 20% 10% 10%;
      grid-template-rows: 20px 20px 20px 20px; 
      grid-template-areas:
          "a b c d e f g"
          "h i j k l m n"
          "o p q r s t u"
          "w w w w w w w";
      /* justify-items: center;
      justify-self: center; */
      grid-row-gap: 10px;
      background: #464547;
      color: aliceblue;
  
      .footer-logo {
        grid-area: i;
      }
  
      .footer-adress {
        grid-area: j;
      }
  
      .footer__email {
        grid-area: q;
      }
  
      .footer__rights {
        grid-area: s;
      }
    }
  }
}
