@charset "UTF-8";
.hero-logo:hover {
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.description__read_more:hover {
  transition: transform 0.5s linear;
  transform-origin: top left;
  transform-style: preserve-3D;
  transform: rotate(10deg);
}

.learn-more__play:hover {
  -webkit-animation-name: play_button;
          animation-name: play_button;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  /* animation-direction: alternate; */
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes logo {
  0% {
    transform: rotateY(0deg) scale(1);
  }
  100% {
    transform: rotateY(180deg) scale(1.5);
  }
}

@keyframes logo {
  0% {
    transform: rotateY(0deg) scale(1);
  }
  100% {
    transform: rotateY(180deg) scale(1.5);
  }
}
@-webkit-keyframes play_button {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
    background-color: #ffffff;
    color: #92b6ec;
  }
}
@keyframes play_button {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
    background-color: #ffffff;
    color: #92b6ec;
  }
}
.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "header" "main" "footer";
}
.wrapper .header {
  display: grid;
  grid-area: header;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 20px 20px;
  grid-template-areas: "a b";
  position: relative;
  top: 60px;
  margin-bottom: -60px;
}
.wrapper .header .project {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  grid-area: a;
  justify-self: start;
  padding-left: 20px;
}
.wrapper .header .project .project__link {
  text-decoration: none;
  color: aliceblue;
  font-size: 16px;
}
.wrapper .header .main-menu {
  display: none;
}
.wrapper .header .main-menu .main-menu__list {
  margin: 0; /* Отступ слева в браузере IE и Opera */
  padding: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.wrapper .header .main-menu .main-menu__list .main-menu__item {
  list-style-type: none; /* Убираем маркеры */
  text-transform: uppercase;
  text-align: center;
}
.wrapper .header .main-menu .main-menu__list .main-menu__item .main-menu__link {
  text-decoration: none;
  color: aliceblue;
  font-size: small;
}
.wrapper .header .bar {
  grid-area: b;
  justify-self: center;
}
.wrapper .main {
  display: grid;
  grid-template-columns: 100%;
  grid-area: main;
}
.wrapper .main .hero {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 200px 200px 100px 200px;
  grid-template-areas: "a b c" "d e f" "g h i" "j k l";
  background-image: url(../assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .main .hero .hero-logo {
  display: grid;
  grid-area: e;
  place-items: center;
}
.wrapper .main .hero .hero__headline {
  display: grid;
  grid-area: h;
  justify-content: center;
  font-family: "Oswald";
  font-size: 24px;
  text-align: center;
  color: aliceblue;
  text-transform: uppercase;
  text-align: center;
}
.wrapper .main .hero .hero__lorem {
  display: grid;
  grid-area: k;
  justify-content: center;
  font-size: 12px;
  font-family: "Source Sans Pro";
  color: aliceblue;
  text-align: center;
}
.wrapper .main .description {
  display: grid;
  grid-template-columns: 100%;
  background-color: #f2f2f2;
  justify-items: center;
}
.wrapper .main .description .description__headline {
  font-family: "Oswald";
  font-size: 24px;
  text-align: center;
}
.wrapper .main .description .description__sub-headline {
  font-family: "Oswald";
  font-size: 16px;
}
.wrapper .main .description .description-main-text {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}
.wrapper .main .description .description-main-text .description-main-text__column {
  width: 500px;
  padding: 20px;
  margin: 20px;
}
.wrapper .main .description .description__read_more {
  display: block;
  width: 120px;
  height: 40px;
  background-color: #87b0ee; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: 20px;
}
.wrapper .main .learn-more {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 200px 20px 200px;
  grid-template-areas: "a b c" "d e f" "g h i";
  justify-items: center;
  background-image: url(../assets/IMG_1334_72dpi_RGB_\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .main .learn-more .learn-more__headline {
  grid-area: b;
  justify-items: center;
  font-size: 24px;
  font-family: Oswald;
  color: aliceblue;
}
.wrapper .main .learn-more .learn-more__play {
  grid-area: e;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #92b6ec; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
}
.wrapper .main .learn-more .learn-more__sub-headline {
  grid-area: h;
  justify-items: center;
  color: aliceblue;
  font-size: 16px;
  padding: 30px;
}
.wrapper .footer {
  padding: 10px;
  display: grid;
  grid-area: footer;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  justify-items: center;
  align-items: center;
  background: #464547;
  color: aliceblue;
}

/* MEDIA 768 px */
@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main" "footer";
  }
  .wrapper .header {
    display: grid;
    grid-area: header;
    grid-template-columns: 200px 800px 200px;
    grid-template-rows: 40px 40px;
    grid-template-areas: "a b c" "d e f";
    position: relative;
    top: 60px;
    margin-bottom: -80px;
  }
  .wrapper .header .project {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    grid-area: d;
  }
  .wrapper .header .project .project_link {
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
  }
  .wrapper .header .main-menu {
    grid-area: e;
    display: block;
  }
  .wrapper .header .main-menu .main-menu__list {
    margin: 0; /* Отступ слева в браузере IE и Opera */
    padding: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .wrapper .header .main-menu .main-menu__list .main-menu__item {
    list-style-type: none; /* Убираем маркеры */
    text-transform: uppercase;
    text-align: center;
  }
  .wrapper .header .main-menu .main-menu__list .main-menu__item .main-menu__link {
    text-decoration: none;
    color: aliceblue;
    font-size: small;
  }
  .wrapper .header .bar {
    display: none;
  }
  .wrapper .main {
    display: grid;
    grid-template-columns: 100%;
    grid-area: main;
  }
  .wrapper .main .hero {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 200px 200px 100px 200px;
    grid-template-areas: "a b c" "d e f" "g h i" "j k l";
    background-image: url(../assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper .main .hero .hero-logo {
    display: grid;
    grid-area: e;
    place-items: center;
  }
  .wrapper .main .hero .hero__headline {
    display: grid;
    grid-area: h;
    justify-content: center;
    font-family: "Oswald";
    font-size: 24px;
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
  }
  .wrapper .main .hero .hero__lorem {
    display: grid;
    grid-area: k;
    justify-content: center;
    font-size: 24px;
    font-family: "Source Sans Pro";
    color: aliceblue;
    text-align: center;
  }
  .wrapper .main .description {
    display: grid;
    grid-template-columns: 100%;
    background-color: #f2f2f2;
    justify-items: center;
  }
  .wrapper .main .description .description__headline {
    font-family: "Oswald";
    font-size: 24px;
    text-align: center;
  }
  .wrapper .main .description .description__sub-headline {
    font-family: "Oswald";
    font-size: 16px;
  }
  .wrapper .main .description .description-main-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
  }
  .wrapper .main .description .description-main-text .description-main-text__column {
    width: 500px;
    padding: 20px;
    margin: 20px;
  }
  .wrapper .main .description .description__read_more {
    display: block;
    width: 120px;
    height: 40px;
    background-color: #87b0ee; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 20px;
  }
  .wrapper .main .learn-more {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 200px 20px 200px;
    grid-template-areas: "a b c" "d e f" "g h i";
    justify-items: center;
    background-image: url(../assets/IMG_1334_72dpi_RGB_\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper .main .learn-more .learn-more__headline {
    grid-area: b;
    justify-items: center;
    font-size: 24px;
    font-family: Oswald;
    color: aliceblue;
  }
  .wrapper .main .learn-more .learn-more__play {
    grid-area: e;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #92b6ec; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
  }
  .wrapper .main .learn-more .learn-more__sub-headline {
    grid-area: h;
    justify-items: center;
    color: aliceblue;
    font-size: 16px;
  }
  .wrapper .footer {
    display: grid;
    grid-area: footer;
    grid-template-columns: 10% 10% 20% 20% 20% 10% 10%;
    grid-template-rows: 20px 20px 20px 20px;
    grid-template-areas: "a b c d e f g" "h i j k l m n" "o p q r s t u" "w w w w w w w";
    /* justify-items: center;
    justify-self: center; */
    grid-row-gap: 10px;
    background: #464547;
    color: aliceblue;
  }
  .wrapper .footer .footer-logo {
    grid-area: i;
  }
  .wrapper .footer .footer-adress {
    grid-area: j;
  }
  .wrapper .footer .footer__email {
    grid-area: q;
  }
  .wrapper .footer .footer__rights {
    grid-area: s;
  }
}/*# sourceMappingURL=main.css.map */